<div
  #card
  class="card"
  [ngClass]="{ details: isSelected$ | async }"
  [routerLink]="['/pokedex/' + pokemon.id]"
  (deferLoad)="renderImg = true"
  tabindex="-1"
>
  <div class="content">
    <img [src]="spriteSrc" [alt]="pokemon.name" *ngIf="renderImg" [hidden]="loadingImg" (load)="loadingImg = false" />
    <img class="loading" src="assets/img/loading-0.png" alt="loading..." [hidden]="!loadingImg" />
    <table *ngIf="details$ | async as details">
      <tr>
        <td>💗</td>
        <td>{{ details | pokeStat: 'hp' }}</td>
      </tr>
      <tr>
        <td>🔪</td>
        <td>{{ details | pokeStat: 'attack' }}</td>
      </tr>
      <tr>
        <td>🔰</td>
        <td>{{ details | pokeStat: 'defense' }}</td>
      </tr>
    </table>
  </div>
  <div class="name">{{ pokemon.name }}</div>
  <button [ngClass]="{ hidden: !(isFavorite$ | async) }" (click)="toggleFavorite($event)">
    {{ (isFavorite$ | async) ? '⭐' : '⚪' }}
  </button>
</div>
